/**
**
** CSS para la página Inicio, para la primera pagina                  
**
*/

.btn-inicio {
    color: #FFF !important;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0px 9px 0px #748899, 0px 9px 25px rgba(0, 0, 0, .7);
    display: block;
    font-family: 'Yanone Kaffeesatz';
    font-size: 2em;
    margin: 15px auto;
    text-align: center;
    width: 80%;
    background: #296fb7;
    text-shadow: none;
    box-shadow: 0px 3px 3px rgba(34, 34, 68, 0.5);
}
.menu {
    padding-left: 5px;
    padding-top: 10px
}

#tabla31{
    margin-top: 20px;
    width: 100%;
}


.button {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
    font-family: 'Yanone Kaffeesatz';
    margin-bottom: 2%;
    font-size: 22px;
    letter-spacing: 1px;
    left: 10%;
}
.button > paper-ripple {
    border-radius: 2px;
    overflow: hidden;
}
.button.blue {
    background-color: #296fb7;
    color: #fff;
}
.button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
.center {
    text-align: center;
    text-shadow: none;
    font-size: 19px;
}
#inicio,
#login,
#registro,#noticia_especifica,#noclientes,#consultas,#recibospendientes1 {
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#logo {
    width: 100%
}
#titulo-app {
    color: #222;
    font-size: 0.9em !important;
    text-shadow: none;
    font-family: 'Yanone Kaffeesatz'
}
#header {
    background: #296fb7;
    text-shadow: none;
    color: #FFF;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz';
    font-size: 22px;
}

/*Css para botones circulares*/

.fab {
    margin-top: 3%;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab.green {
    background-color: rgba(125, 132, 138, 0.73);
    margin-left: 10%;
    background: #6EA976 !important
}
.fab.green>a {
    color: #FFF;
    text-decoration: none
}
.fab.green>a:hover {
    color: #FFF;
}
#icon_phone {
    margin-left: 25px;
    margin-top: 15px;
    text-shadow: none
}
.fab.green1 {
    background: #6EA976 !important;
    float: right;
    margin-right: 10%
}
#icon_map {
    margin-left: 22px;
    margin-top: 15px;
    text-shadow: none
}
.fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
.fab > core-icon {
    margin-top: 10px;
}
.fab > core-icon::shadow path {
    fill: #fff;
}

/* Css para el footer*/

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    color: #FFF;
    background: #296fb7;
    text-shadow: none;
    text-align: center;
    font-family: 'Yanone Kaffeesatz';
    font-size: 22px;
}
#contenedor-logo {
    margin-bottom: -7%;
}

/**
**
**  Css para la pagina de Mapa.html   
**
**/

mapa_header {
    height: 45px
}
#icon_regresar {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
.banner {
    display: block;
    text-align: center;
    line-height: 50px;
    text-shadow: none;
    font-family: 'Yanone Kaffeesatz';
    font-size: 24px;
}
#mapa_resenia {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Yanone Kaffeesatz'
}
.card {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 320px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    left: 5%;
    margin-top: 10px
}
#info {
    display: none;
    margin-bottom: 10px;
    width: 96%;
    left: 2%
}
#mapa_titulo {
    margin-top: 4px;
    font-family: 'Yanone Kaffeesatz' !important;
}
.columna1 {
    border-bottom: 1px solid #296fb7
}
.columna1_fila {
    font-family: 'Yanone Kaffeesatz';
    color: #296fb7;
}
.columna2 {
    border-bottom: 1px solid #296fb7
}
.columna2_fila {
    font-family: 'Yanone Kaffeesatz';
    float: right;
    margin-right: 10px;
    text-align: right;
}
#color {
    border: none;
    width: 20px;
    height: 5px;
    vertical-align: middle;
    margin-right: 10px
}
#titulo-maps1 {
    font-family: 'Yanone Kaffeesatz';
    color: #296fb7;
    font-size: 20px;
    margin-bottom: -10px;
    margin-top: 2px;
}
#instructions {
    font-family: 'Yanone Kaffeesatz';
    list-style-image: url('../img/direccion.png');
}
#footer_mapa {
    font-family: 'Yanone Kaffeesatz';
    font-size: 20px;
    text-shadow: none;
    height: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/**
**
**  Css para la pantalla de Login 
**
**/

#login_header {
    height: 45px;
    margin-bottom: 20px;
}
#login {
    font-family: 'Yanone Kaffeesatz';
}
label{
    font-family: 'Yanone Kaffeesatz';
}
#login_back {
    text-decoration: none;
    color: #FFF
}
#login_icon {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#contenido1 {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 10%;
    top: 20%;
}
#txt-email,#txt-email1 {
    background: rgba(1, 1, 1, 0);
    margin-bottom: 15px;
    text-shadow: none
}
#txt-pass,#txt-pass1,#txt-pass2,#txt-pass3 {
    background: rgba(1, 1, 1, 0);
    margin-bottom: 20px
}
.group {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    left: 5%;
}
.input_login {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    font-family: 'Yanone Kaffeesatz' !important;
    border-bottom: 1px solid #757575;
}
.input_login:focus {
    outline: none;
    border-bottom: 3px solid #296fb7;
}
#login_ingresar {
    height: 40px;
    margin-top: 20px !important;
}
#login_registrar {
    height: 40px;
    background: #6EA976 !important
}
#login_olvido {
    margin-top: -10px
}
#login_olvido>a {
    font-size: 20px
}

/**
**
**   Pagina de Registro
**
**/

#contenido3 {
    width: 90%;
    margin-left: 5%;
    font-family: 'Yanone Kaffeesatz';
}
#registro_nombre,
#registro_suministro,
#registro_correo,
#registro_dni,
#registro_celular {
    background: rgba(1, 1, 1, 0);
    margin-bottom: 20px
}

/**
**
**   Pagina de No clientes
**
**/

#noclientes_header {
    height: 45px
}
#noclientes_header>a {
    text-decoration: none;
    color: #FFF
}
#noclientes_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#contenido2 {
    width: 90%;
    height: 60%;
    position: absolute;
    left: 5%;
    top: 20%;
    font-family: 'Yanone Kaffeesatz';
}
.botonera2 {
    clear: both
}
.btn2 {
    background: rgba(232, 232, 232, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    border: 0px solid #BBBBBB;
    float: right;
    margin-right: 5%;
    text-decoration: none;
    width: 40%
}
.botonera2 a {
    margin-top: 20px
}
.botonera3 {
    width: 100%
}
.botonera3 a {
    margin-top: 20px
}
.btn1 {
    background: rgba(232, 232, 232, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(215, 215, 215, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    border: 0px solid #000000;
    float: left;
    margin-left: 5%;
    text-decoration: none;
    width: 40%
}
.btn1:active,
.btn2:active {
    box-shadow: 0px 3px 0px rgba(215, 215, 215, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0px 3px 0px rgba(215, 215, 215, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(215, 215, 215, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px
}
.btn1 span,
.btn2 span {
    display: block;
    margin-top: 10px;
    text-align: center
}
.btn1 h2,
.btn2 h2 {
    color: #296fb7;
    font-family: 'Yanone Kaffeesatz';
    font-size: 14px;
    text-align: center;
    text-shadow: none;
    margin-top: -5px;
}

/**
**
**    NoClientes
**
**/

#dondePagar_header {
    height: 45px
}
#dondePagar_header>a {
    text-decoration: none;
    color: #FFF
}
#dondePagar_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
.list {
    margin-left: -20px !important
}
.list li {
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    display: table;
    width: 100%
}
.inner {
    display: table-row;
    text-decoration: none;
    overflow: hidden
}
.li-img {
    display: table-cell;
    padding-right: 1em;
    vertical-align: middle;
    width: 30%
}
.li-img img {
    display: block;
    height: auto;
    width: 100%
}
.li-text {
    display: table-cell;
    vertical-align: middle;
    width: 70%
}
.li-head {
    font-family: 'Yanone Kaffeesatz';
    font-size: 22px;
    margin: 0;
    text-shadow: none
}
.li-sub {
    font-family: 'Yanone Kaffeesatz';
    font-size: 16px;
    margin: 0
}
@media all and (min-width: 45em) {
    .list li {
        float: left;
        width: 50%
    }
}
@media all and (min-width: 75em) {
    .list li {
        width: 33.33333%
    }
}

/**
**
**Pagina de Usuarios
**
**/

#usuarios_header {
    height: 45px
}
#usuarios_header>h1 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 28px;
    text-shadow: none;
    margin-top: 6px;
}
#usuarios_header>a {
    color: #FFF;
    margin-left: 10px;
    margin-top: 5px;
}
#colum_1 {
    font-size: 24px;
    text-align: center;
}
#deuda_cliente,
#cantidad_cliente {
    color: #296fb7;
    font-size: 30px
}
.column2 {
    text-align: center
}
#vencimiento {
    letter-spacing: 1.5px;
    color: #296fb7;
    font-size: 26px
}
.column2_span {
    font-size: 18px;
    letter-spacing: 1px;
}
#corte,#dias_sin_pagar {
    letter-spacing: 1.5px;
    color: #296fb7;
    font-size: 26px
}
#dato-menu1 .ui-icon,
#dato-menu2 .ui-icon,
#dato-menu3 .ui-icon,
#dato-menu4 .ui-icon,
#dato-menu5 .ui-icon,
#dato-menu6 .ui-icon,
#dato-menu7 .ui-icon {
    margin-top: -22px !important
}
#dato-menu,
#dato-menu1,
#dato-menu2,
#dato-menu3,
#dato-menu4,
#dato-menu5,
#dato-menu6,
#dato-menu7,
#lista-menu2 {
    background: #FFF;
    border: 0px;
    color: #727272 !important;
    font-family: 'Yanone Kaffeesatz';
    text-transform: uppercase
}
#dato-menu1,
#dato-menu2,
#dato-menu3,
#dato-menu4,
#dato-menu5,
#dato-menu6,
#dato-menu7,
#lista-menu2 {
    height: 50px !important
}
#text-menu:hover {
    color: #296fb7 !important
}
#dato-menu1:hover,
#dato-menu2:hover,
#dato-menu3:hover,
#dato-menu4:hover,
#dato-menu5:hover,
#dato-menu6:hover,
#dato-menu7:hover,
#lista-menu2:hover {
    background: #F0F0F0 !important
}
#dato-menu {
    border-bottom: solid 1px #BBB !important;
    border-top: solid 1px #BBB !important;
    border-top-width: 1px !important;
    text-transform: uppercase;
    width: 220px !important
}
#dato-menu img {
    margin-left: 8px;
    margin-top: 5px
}
#dato-menu h3 {
    margin-bottom: 0;
    margin-left: 40px;
    margin-top: 0
}
#dato-menu2 a h3,
#dato-menu1 a h3,
#dato-menu4 a h3,
#dato-menu5 a h3,
#dato-menu6 a h3,
#dato-menu3 a h3,
#dato-menu7 a h3,
#lista-menu2 a h3 {
    color: #727272 !important;
}
#dato-menu1 a img,
#dato-menu2 a img,
#dato-menu3 a img,
#dato-menu4 a img,
#dato-menu5 a img,
#dato-menu6 a img,
#dato-menu7 a img {
    margin-left: 6px !important;
    margin-top: 10px !important
}
usuarios .ui-body-c {
    border: solid 1px #FFF !important
}
#left-panel {
    background: #FFF;
    border: solid 1px #fff !important;
    box-shadow: none
}
#left-panel .ui-panel-inner > .ui-listview {
    margin-bottom: 0
}
#left-panel .ui-collapsible-set {
    margin: 0
}
#left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content {
    border-bottom: none;
    padding-bottom: 10px;
    padding-top: 10px
}
#contenido4 {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    font-family: 'Yanone Kaffeesatz';
}
.card1 {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 240px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    left: 5%;
    text-shadow: none;
    font-family: 'Yanone Kaffeesatz';
    color: #FFF;
}
#tabla {
    margin-top: 20px;
    width: 100%
}
#tabla tr th {
    width: 33%
}
#tabla tr th h1 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 15px
}
#tabla tr th a {
    text-decoration: none
}
#left {
    float: left;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: rgba(41, 111, 183, 0.5);
    border-radius: 70px 70px;
    margin-top: -10px;
}
#left>img {
    width: 60%;
    height: 90%;
    margin-left: 20%;
}
#right {
    float: right;
    width: 62%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-shadow: none;
}
#nombre_cliente {
    color: #000;
    font-size: 16px
}
#suministro_cliente {
    color: #222;
    font-size: 14px
}
#hr_1 {
    border: none;
    /* height: 10px; */
    width: 100%;
    margin-top: 65px;
    clear: both;
    background: #296fb7;
    width: 115%;
    margin-left: -20px;
    height: 2px
}

/**
**
** Estado de Cuenta
**
**/

#estadoCuenta_header {
    height: 45px
}
#estadoCuenta_header>a {
    text-decoration: none;
    color: #FFF
}
#estadoCuenta_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#rec-pend {
    font-family: 'Yanone Kaffeesatz';
    font-size: 20px !important;
    letter-spacing: 0.3px;
    margin: 5px;
    text-transform: uppercase
}
.sub-hr {
    border: none;
    background: #296fb7;
    height: 2px;
    margin-top: -5px
}
.nota1 {
    border-bottom: rgba(41, 111, 183, 0.57) 1px solid
}
.subnota1 {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal
}
.subnota2 {
    float: right;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    margin-right: 1px;
    margin-top: -1px
}
#informacion {
    margin-top: 5px
}
#informacion,
#fpago {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal
}
#table1 {
    margin-bottom: 15px;
    width: 100%
}
#table1 tr th {
    font-family: 'Yanone Kaffeesatz';
    width: 33%
}
#fecha_actual {
    font-style: normal
}
.footer_page {
    font-family: 'Yanone Kaffeesatz';
}
.empresa {
    font-family: 'Yanone Kaffeesatz';
    font-size: 16px !important;
}
#notascredito{
    color: #990000;
}

/**
**
** Recibos Pendientes
**
**/

#recibos_header {
    height: 45px
}
#recibos_header>a {
    text-decoration: none;
    color: #FFF
}
#recibos_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#rpusuario,
#ceusuario,
#cusuario,
#rusuario,
#pusuario {
    font-family: 'Yanone Kaffeesatz';
    font-size: 18px !important;
    margin-top: -5px;
    border-top: 1px solid #296fb7;
    border-bottom: 1px solid #296fb7;
}
#rpusuario i,
#ceusuario i,
#cusuario i,
#rusuario i,
#pusuario i {
    font-style: normal;
    margin-left: 20px
}
#rpdirec,
#cedirec,
#cdirec,
#rdirec,
#pdirec {
    font-family: 'Yanone Kaffeesatz';
    font-size: 18px !important;
    margin-bottom: 10px;
    margin-top: -30px !important
}
#rpdirec i,
#cedirec i,
#cdirec i,
#rdirec i,
#pdirec i {
    font-style: normal;
    margin-left: 5px
}
#rpfecha,
#cefecha,
#cfecha,
#rfecha,
#pfecha {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 15px
}
#fecha_actual1,
#fecha_actual2,
#fecha_actual3,
#fecha_actual4,
#fecha_actual5 {
    font-style: normal;
    color: #990000
}
.numero-docum,.numero_reclamo {
    font-family: 'Yanone Kaffeesatz';
    font-size: 19px !important;
    font-weight: bold;
    text-transform: uppercase
}
#rpnumero {
    float: right;
    margin-bottom: -10px
}
#rpnumero i {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 16px
}
#cantidad_recibos {
    font-style: normal
}
numero-docum {
    font-family: 'Yanone Kaffeesatz';
    font-size: 19px !important;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase
}
.bajo-doc,.bajo_reclamo {
    background: #296fb7;
    border: none;
    height: 2px;
    margin-top: -20px
}
.num-rec {
    margin-top: -2px
}

.numero_reclamo{
     color: #00207E
}
.num-rec1,.monto-rec1,.femi-rec1,.fven-rec1,.dias_trans1,.nota_credito1,.descripcion_reclamo1,.fecha_registro1,.fecha_final1,.tipo_problema1,.estado_reclamo1,.instancia_reclamo1,.periodo_reclamo1,.dias_reclamo1,.monto_reclamo1,.nd_reclamo1,.nc_reclamo1,.monto_reclamo_pago1,.cant_reclamo1 {
    font-style: normal;font-weight: bold;font-size: 15px;font-family: 'Yanone Kaffeesatz';
    color: #000;
}
.num-rec2,.monto-rec2,.femi-rec2,.fven-rec2,.dias_trans2,.nota_credito2,.descripcion_reclamo2,.fecha_registro2,.fecha_final2,.tipo_problema2,.estado_reclamo2,.instancia_reclamo2,.periodo_reclamo2,.dias_reclamo2,.monto_reclamo2,.nd_reclamo2,.nc_reclamo2,.monto_reclamo_pago2,.cant_reclamo2{
    float: right;
    font-family: 'Yanone Kaffeesatz';
    font-size: 18px;
    font-style: normal;
    color: #00207E
}
.num-rec,.monto-rec,.femi-rec,.fven-rec,.dias_trans,.nota_credito,.descripcion_reclamo,.fecha_registro,.fecha_final,.tipo_problema,.estado_reclamo,.instancia_reclamo,.periodo_reclamo,.dias_reclamo,.monto_reclamo,.nd_reclamo,.nc_reclamo,.monto_reclamo_pago,.cant_reclamo {
    border-bottom: 1px solid rgba(41, 111, 183, 0.67);
    margin-bottom: -10px;
    margin-left: 10px;
        color: #00207E !important;
}
.numero_reclamo{
    padding-top: 10px;
}
.nc_reclamo2{
    color: #990000;
}
.nota_credito2{
    color: #990000;
}
.nota_credito{
        margin-bottom: 15px;
}
/**
**
** Consumos
**
**/

#consumos_header {
    height: 45px
}
#consumos_header>a {
    text-decoration: none;
    color: #FFF
}
#consumos_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#numero_consumos {
    font-family: 'Yanone Kaffeesatz';
    text-align: right
}
#numero_consumos span {
    color: #990000
}
#tabla3 {
    margin-top: 20px;
    width: 100%
}
.col_amf1,
.col_lam1,
.col_vl1,
.col_vf1,
.col_tle1,
.col_ref1 {
    background: #6EA976 !important;
    color: #ffffff !important;
    font-family: 'Yanone Kaffeesatz';
    padding: 5px;
    text-shadow: none
}
.col_amf,
.col_lam,
.col_vl,
.col_vf,
.col_tle,
.col_ref {
    background: rgba(41, 111, 183, 0.31);
    font-family: 'Yanone Kaffeesatz';
    text-shadow: none
}
@media screen and (max-width: 400px) {
    .btn1 {
        width: 42%
    }
    .btn2 {
        width: 42%
    }
    .btn1 h2,
    .btn2 h2 {
        font-size: 16px
    }
    .subnota1 {
        font-size: 11px !important
    }
    .subnota2 {
        font-size: 13px !important
    }
    .col_ncon1,
    .col_fcon1,
    .col_ncuo1,
    .col_amv1,
    .col_total1,
    .col_tcuo1,
    .col_con1 {
        font-size: 14px
    }
    .col_fp,
    .col_fv,
    .col_lugar,
    .nro_recibo,
    .col_pago,
    .col_refer,
    .col_conc {
        font-size: 14px
    }
    .col_fcon1,
    .col_tcuo1,
    .col_con1,
    .col_fv,
    .col_refer,
    .col_conc {
        display: none !important
    }
    .col_amf1,
    .col_lam1,
    .col_vl1,
    .col_vf1,
    .col_tle1,
    .col_ref1 {
        font-size: 14px
    }
    .col_amf,
    .col_lam,
    .col_vl,
    .col_vf,
    .col_tle,
    .col_ref {
        font-size: 14px
    }
    .col_tle1,
    .col_ref1,
    .col_tle,
    .col_ref,.col_plugar,.col_plugar {
        display: none !important
    }
    .col_fin1,
    .col_des1,
    .col_ins1,
    .col_per1 {
        display: none !important
    }
    .col_fin,
    .col_des,
    .col_ins,
    .col_per {
        display: none !important
    }
    .col_plugar1,.col_plugar,.nro_precibo1,.nro_precibo
    {
        display: none !important
    }
}
@media screen and (max-width: 500px) {
    #titulo-app {
        font-size: 1.5em
    }
    .col_tcuo1,
    .col_refer {
        display: block
    }
    .col_fcon1,
    .col_con1,
    .col_fv,
    .col_conc {
        display: none
    }
    .col_tle1,
    .col_ref1 {
        display: none !important
    }
    .col_tle,
    .col_ref {
        display: none !important
    }
    .col_reg1,
    .col_fin1,
    .col_ins1,
    .col_per1 {
        display: none !important
    }
    .col_reg,
    .col_fin,
    .col_ins,
    .col_per {
        display: none !important
    }.col_plugar1,.nro_precibo {
        display: none
    }
    .button,
    .button1,
    .button2 {
        font-size: 14px !important
    }
    .card1_1 h1 {
        font-size: 16px !important
    }
}
@media screen and (max-width: 600px) {
    .subnota1 {
        font-size: 14px
    }
    .subnota2 {
        font-size: 15px
    }
    .col_fin1,
    .col_per1,
    .col_fin,
    .col_per {
        display: none !important
    }
    #cabezera {
        left: 39.5% !IMPORTANT
    }
}
@media screen and (max-width: 700px) {
    .botonera3 a {
        margin-top: -30px
    }
    .card1_2 p {
        font-size: 14px !important
    }
}
@media screen and (max-width: 900px) {
    #titulo-app {
        font-size: 2em
    }
    .subnota1 {
        font-size: 15px !important
    }
    .subnota2 {
        font-size: 16px
    }
    .botonera3 a {
        margin-top: 20px !important
    }
    .col_fin1,
    .col_per1,
    .col_fin,
    .col_per {
        display: none !important
    }
}
@media screen and (max-width: 1500px) {
    .subnota1 {
        font-size: 18px
    }
    .subnota2 {
        font-size: 19px
    }
    #cabezera {
        left: 42%
    }
    .card1_2 p {
        font-size: 18px
    }
    .button,
    .button1,
    .button2 {
        font-size: 20px
    }
    .card1_1 h1 {
        font-size: 20px
    }
}

/**
**
** Cuotas por Emitir
**
**/

#cuotas_header {
    height: 45px
}
#cuotas_header>a {
    text-decoration: none;
    color: #FFF
}
#cuotas_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#numerocuotas,
#numeroreclamos,
#numeropagos {
    font-family: 'Yanone Kaffeesatz';
    text-align: right
}
#numerocuotas span,
#numeroreclamos span,
#numeropagos span {
    color: #990000
}
#table2 {
    margin-top: 10px;
    width: 100%
}
.col_ncon1,
.col_fcon1,
.col_ncuo1,
.col_amv1,
.col_total1,
.col_tcuo1,
.col_con1 {
    background: rgba(41, 161, 183, 0.48);
    color: #990000 !important;
    font-family: 'Yanone Kaffeesatz';
    padding: 5px;
    text-shadow: none
}
.col_fp,
.col_fv,
.col_lugar,
.nro_recibo,
.col_pago,
.col_refer,
.col_conc {
    background: rgba(41, 111, 183, 0.25);
    font-family: 'Yanone Kaffeesatz';
    text-shadow: none
}

/**
**
** Consultas
**
**/

#consultas_header {
    height: 45px
}
#consultas_header>a {
    text-decoration: none;
    color: #FFF
}
#consultas_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}

/**
**
** Reclamos
**
**/

#reclamos_header {
    height: 45px
}
#reclamos_header>a {
    text-decoration: none;
    color: #FFF
}
#reclamos_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#tabla4 {
    margin-top: 15px;
    width: 100%
}
.col_cod1,
.col_des1,
.col_reg1,
.col_fin1,
.col_pro1,
.col_est1,
.col_ins1,
.col_per1 {
    background: rgba(41, 161, 183, 0.48);
    color: #990000 !important;
    font-family: 'Yanone Kaffeesatz';
    padding: 5px;
    text-shadow: none
}
.col_cod,
.col_des,
.col_reg,
.col_fin,
.col_pro,
.col_est,
.col_ins,
.col_per {
    background: rgba(41, 111, 183, 0.25);
    font-family: 'Yanone Kaffeesatz';
    text-shadow: none
}

/**
**
** Pagos
**
**/

#pagos_header {
    height: 45px
}
#pagos_header>a {
    text-decoration: none;
    color: #FFF
}
#pagos_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}
#button {
    background: #FFFFBF;
    border: 0.5px solid #000;
    height: 15px;
    margin-left: 30px;
    margin-right: 10px;
    width: 20px
}
#button2 {
    background: rgba(236, 245, 255, .9);
    border: 0.5px solid #000;
    height: 15px;
    margin-left: 30px;
    margin-right: 10px;
    width: 20px
}
#leyenda span {
    font-family: 'Yanone Kaffeesatz'
}
#tabla5 {
    width: 100%
}
.col_pfp1,
.col_pfv1,
.col_plugar1,
.nro_precibo1,
.col_ppago1 {
        background: #6EA976 !important;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz';
    padding: 5px;
    text-shadow: none
}
.col_pfp,
.col_pfv,
.col_plugar,
.nro_precibo,
.col_ppago {
    font-family: 'Yanone Kaffeesatz';
    text-shadow: none
}

/**
**
**  Pagos Online
**
**/
.card2 {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 120px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    left: 5%;
    margin-top: 10px
}
.pagos_title{
     font-family: 'Yanone Kaffeesatz' !important;
    text-shadow: none !important;
    color:#FFF !important;
}
#bcp{
    background: #00407e
}
#banbif{
    background: #0f88d4
}
#interbank{
    background: #009b3a
}
.btn_pagosOnline{
    width: 70%;
    height: 30px;
    background: #FFF;
    border: none;
    box-shadow: 2px 4px 4px #000;
    color: #296fb7;
    font-family: 'Yanone Kaffeesatz' !important;
        font-size: 17px;
}


/**
**
** cambiar Contraseña
**
**/

#contra_header {
    height: 45px
}
#contra_header>a {
    text-decoration: none;
    color: #FFF
}
#contra_header>i {
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: none
}